</div>
</div>

<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>About</h3>

                    <ul>
                        <li>
                            <a href="https://github.com/abricos/smtpeshka">
                                Web site
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">

            <p class="pull-right">
                Powerd by <a href="http://abricos.org">SMTPeshka</a>
                version <%= version %>
            </p>
        </div>

    </div>
</footer>

</body>
</html>
