<!DOCTYPE html>
<html>
<head>
    <title><%= title %> / SMTPeshka</title>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-top">

            <div class="container">

                <div class="col-md-12">
                    <ul class="pull-left mn">
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                    <ul class="pull-right mn">
                        <li>
                            <a href="https://github.com/abricos/smtpeshka">GitHub</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="navbar-scrolling">
        <div class="container">

            <div class="navbar-header logo hidden-xs">
                <a href="/" title="SMTPeshka">
                    <img src="/images/logo-64.png" alt="SMTPeshka" width="64" height="64">
                </a>
            </div>
            <div class="navbar-header">
                <a class="htitle" href="/" title="">
                    SMTPeshka v<%= version %>
                </a>

                <p>
                    Easy to use test mail server for developers (MIT license)
                </p>
            </div>

        </div>
    </div>

    <div class="horz-menu-line">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">E-mail List</a>
                </li>
                <li>
                    <a href="/status">Status</a>
                </li>
            </ul>
        </div>
    </div>

</header>

<div id="doc">
    <div class="container">