<!DOCTYPE html>
<html>
<head>
    <title><%= title %> / SMTPeshka</title>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-top">

            <div class="container">

                <div class="col-md-12">
                    <ul class="pull-left mn">
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                    <ul class="pull-right mn">
                        <li>
                            <a href="https://github.com/abricos/smtpeshka">GitHub</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</header>
<div id="doc">
<div class="container">