<%- include('header'); -%>

<h3>Sent E-Mails</h3>

<% if (emails.length) { %>
<ul>
    <% emails.forEach(function(email){ %>
    <li><%= email.subject %></li>
    <% }) %>
</ul>
<% } %>

<%- include('footer'); -%>
